@import url(https://fonts.googleapis.com/css?family=Lato);

a:hover{
    text-decoration: none;
}
ul{
    margin-bottom: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #fff !importent;
    font-family: 'Lato', sans-serif;
}
header{
    background: url(../images/header_bg.png) no-repeat center;
    background-size: cover;
}
.logo{
    text-align: center;
    padding: 5px 0px;
    
}
.logo img{
    max-width: 100%;
}
.clearfix{
    padding: 0;
}
.clearfix:after {
    display:block;
    clear:both;
}
.nav_bar{
    background: #0787ea;
}
.menu_list{
    display: inline-block;
}
/*----- Menu Outline -----*/
.menu-wrap {
    width:100%;
    box-shadow:0px 1px 3px rgba(0,0,0,0.2);
    background:#3e3436;
}
 
.menu {
    width: 100%;
    background: #0787ea;
    text-align: center;
}
 
.menu li {
    margin:0px;
    list-style:none;
}
 
.menu a {
    transition:all linear 0.15s;
    color:#fff;
}
 
.menu li:hover > a, .menu .current-item > a {
    text-decoration:none;
    color:#000;
}
 
.menu .arrow {
    font-size:11px;
    line-height:0%;
}
 
/*----- Top Level -----*/
.menu > ul > li {
    float:left;
    display:inline-block;
    position:relative;
}
 
.menu > ul > li > a {
    padding:10px 40px;
    display:inline-block;
    text-shadow:0px 1px 0px rgba(0,0,0,0.4);
}
 
.menu > ul > li:hover > a, .menu > ul > .current-item > a {
    background:#fff;
}
 
/*----- Bottom Level -----*/
.menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
}
 
.sub-menu {
    width:160%;
    padding:5px 0px;
    position:absolute;
    top:100%;
    left:0px;
    z-index:-1;
    opacity:0;
    transition:opacity linear 0.15s;
    box-shadow:0px 2px 3px rgba(0,0,0,0.2);
    background:#fff;
}
 
.sub-menu li {
    display:block;
    font-size:14px;
}
 
.sub-menu li a {
    padding:10px 30px;
    display:block;
    color: #000;
}
 
.sub-menu li a:hover, .sub-menu .current-item a {
    background:#0787ea;
    color: #fff;
}
/*SLIDER*/
.slider{
    height: 520px;
    background: linear-gradient(-65deg, #ebebeb 53%,#ffffff 53%);
}
.content_slider{
    width: 50%;
    float: left;
    margin-top: 150px;
}
.content_slider h3{
    
}
.content_slider p{
    
}
.content_slider a{
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #0787ea;
    padding: 8px 30px;
    color: #0787ea;
    border-radius: 30px;
}
.content_slider a:hover{
    background: #0787ea;
    color: #fff;
    transition: all 0.5s ease;
}
.slid_pic{
    width: 50%;
    float: right;
}
.slid_pic img{
    max-width: 100%;
}
/*welcome to cellex*/
.welcome{
    background: #0787ea;
    color: #fff;
    padding: 40px 0px;
    text-align: center;
}
.welcome h2{
    padding-bottom: 20px;
    font-size: 24px;
}
.welcome p{
    font-size: 14px;
    padding: 0px 75px;
}

/*PRODUCT CARDS*/

.product_cards{
    margin-top: 30px;
}
.product_cards a{
    color: #000;
}
.product_cards h4{
    font-size: 17px;
    font-weight: 700;
}
.col_1{
    width: 25%;
    background: #ebebeb;
    height: 440px;
    float: left;
}
.col_1 a{
    color: #000;
}
a .card_position{
    position: relative;
    width: 100%;
    height: 100%;
    padding:20px 20px;
    background: #ebebeb;
}
a .card_position:hover{
    background: #0787ea;
    color: #fff;
    transition: all 0.5s ease;
    box-shadow: 5px 5px 5px #ccc;
}
.col_1 .card_img{
}
.card_img img{
    
}
.col_2{
    width: 73%;
    height: 440px;
    margin-left: 20px;
    float: left;
}
.col_2 .card_row{
    position: relative;
    width: 100%;
    height: 210px;
}
.col_2 .card_row .card_col{
    background: #ebebeb;
    width: 100%;
    height: 100%;
}
.col_2 .card_row .card_col_left{
    position: absolute;
    background: #ebebeb;
    width: 49%;
    height: 100%;
}
.col_2 .card_row .card_col_right{
    position: absolute;
    background: #ebebeb;
    width: 49%;
    height: 100%;
    right: 0;
}
.card_row_2{
    margin-top: 20px;
}
.card_col .card_img{
    position: absolute;
    right: 0;
    top: 0;
}
.card_col .card_position{
    padding-left: 50px;
    padding-top: 30px;
}
.card_col_left .card_position{
    padding-top: 15px;
}
.card_col_left .card_img{
    position: absolute;
    right: 0;
    top: 82px;
}
.card_col_right .card_position{
    padding-top: 15px;
}
.card_col_right .card_position p{
    padding-right: 200px;
}
.card_col_right .card_img{
    position: absolute;
    right: 0;
    top: 0;
}
.col_3{
    margin-top: 20px;
    width: 100%;
    height: 220px;
    float: left;
}
.col_3 .card_row{
    position: relative;
    
}
.col_3 .card_row .card_col_left{
    position: absolute;
    background: #ebebeb;
    width: 49%;
    height: 220px;
    left: 0;
}
.col_3 .card_row .card_col_right{
    position: absolute;
    background: #ebebeb;
    width: 49%;
    height: 220px;
    right: 0;
}
.col_3 .card_col_left .card_img{
    position: absolute;
    left: 10px;
    top: 10px;
}
.col_3 .card_col_left .card_position{
    padding-left: 200px;
    padding-top: 30px;
}
.col_3 .card_col_right .card_position{
    text-align: center;
    padding-top: 95px;
}

footer{
    background: #2b2f33;
    margin-top: 30px;
    padding-top: 50px;
}
.foot_logo{
    
}
.foot_logo img{
    
}
.foot_addrs{
    
}
.foot_addrs p{
    color: #fff;
    padding-left: 50px;
}
.foot_addrs a{
    color: #fff;
}
.foot_addrs a:hover{
    color: #0787ea;
}
.foot_nav{
    color: #fff;
    padding-left: 150px;
}
.foot_nav h4{
    margin-top: 0;
    margin-bottom: 15px;
}
.foot_nav ul{
    padding: 0;
}
.foot_nav ul li{
    list-style: none;
}
.foot_nav ul li a{
    color: #fff;
}
.foot_nav ul li a:hover{
    color: #0787ea;
}
.copy{
    width: 100%;
    background: #151111;
    color: #fff;
    margin-top: 30px;
}
.copy p{
    margin: 0;
    float: left;
    padding: 8px 0px;
}
.copy .powr{
    float: right;
    text-align: right;
}

/*NAV TOGGLE*/

.nav_trigger {
    display: none;
    font-size: 23px;
    color: #fff;
    border: 1px solid #633218;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 104px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
    z-index: 5000;
    background: #ba242b
}

.nav_trigger:hover {
    color: #fff;
    border: none;
    background: #0787ea;
}


/* PRODUCTS PAGE */

.heading{
    text-align: center;
    background: url(../images/blu_row.png) no-repeat center;
    padding: 15px 0px;
}
.heading h2{
    background: #fff;
    display:  inline-block;
    margin: 10px 0px;
    padding: 0px 15px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
.product_wrap{
    background: #ebebeb;
    padding: 50px 0px;
}
.product_wrap .row{
    padding: 10px 0px;
}
a .pro_box{
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    text-align: center;
    padding: 20px 0px;
}
 a .pro_box:hover{
    box-shadow:2px 3px 3px rgba(0,0,0,0.2);
}
 a .pro_box h3{
    font-size: 17px;
    color: #000;
}

/* CONTACT PAGE */

.contact_wrap{
    padding: 50px 0px;
}
.contact_addrs{
    width: 100%;
    height: 100%;
    padding: 50px 60px;
    background: #0787ea;
}
.contact_addrs p{
    color: #fff;
    line-height: 1.8;
    margin: 0;
}
.contact_addrs a{
    color: #fff;
}
.contact_addrs a:hover{
    color: #000;
}
.contact_form{
    
}
.contact_form input {
    margin: 0px auto;
    margin-bottom: 20px;
    height: 40px;
    display: list-item;
    width: 80%;
    border: 1px solid #0787ea;
    outline: none;
}

.contact_form input[type="text"] {
    padding-left: 8px;
}
.contact_form input[type="email"] {
    padding-left: 8px;
}
.contact_form textarea {
    margin: 15px auto;
    height: 100px;
    display: list-item;
    width: 80%;
    border: 1px solid #0787ea;
    outline: none;
    padding-left: 8px;
}

.contact_form button {
    margin-top: 10PX;
    margin-left: 55px;
    width: 140px;
    height: 30px;
    background: #fff;
    border: 1px solid #0787ea;
    color: #0f294c;
}
.map{
    width: 100%;
    height: 320px;
    margin-bottom: 30px;
}

/* ABOUT PAGE */

.about_wrap{
    padding: 30px 0px;
}
.about_wrap p{
    padding: 0px 60px;
    text-align: center;
}
@media only screen and (min-width: 768px){
     .nav_bar {
         height: 40px;
   }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .col_2{
        margin-left: 18px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .col_1 .card_img{
        position: absolute;
        left: 0;
    }
    .col_1 .card_img img{
        max-width: 100%;
    }
    .card_img img{
        max-width: 100%;
    }
    .col_2{
        margin-left: 14px;
    }
    .card_col .card_position p{
        padding-right: 212px;
    }
    .card_col_left .card_img{
        display: none;
    }
    .card_col_right .card_img{
        display: none;
    }
    .card_col_right .card_position p{
        padding-right: 50px;
    }
    .col_3 .card_col_left .card_img{
        display: block;
    }
    .foot_nav{
        padding-left: 100px;
    }
}
@media only screen and (max-width: 767px){
    .col_1{
        width: 100%;
    }
    .col_2{
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
    .col_2 .card_row .card_col_left{
        width: 100%;
        position: static;
        margin-bottom: 20px;
    }
    .col_2 .card_row .card_col_right{
        width: 100%;
        position: static;
    }
    .col_3 .card_row .card_col_left{
        position: static;
        width: 100%;
    }
    .col_3 .card_row .card_col_right{
        width: 100%;
        position: static;
        margin-top: 20px;
    }
    .col_3{
        margin-top: 250px;
    }
    footer{
        margin-top: 250px;
    }
    .nav_trigger {
        display: block;
    }
    .menu{
        display: none;
    }
    .menu > ul > li{
        float: none;
        display: list-item;
    }
    .menu > ul > li > a{
        display: list-item;
    }
    .foot_logo{
        text-align: center;
    }
    .foot_addrs{
        text-align: center;
        margin-top: 20px;
    }
    .foot_addrs p{
        padding: 0;
    }
    .foot_nav{
        padding: 0;
        text-align: center;
        margin-top: 20px;
    }
    .copy p{
        text-align: center;
        float: none;
    }
    .copy .powr{
        float: none;
        text-align: center;
    }
    .slider{
        background: #fff;
    }
    .content_slider{
        width: 100%;
        float: none;
        text-align: center;
        margin-top: 30px;
    }
    .content_slider img{
        display: none;
    }
    .slid_pic img{
        width: 320px;
    }
    .slid_pic{
        width: 100%;
        text-align: center;
    }
    .card_img img{
        max-width: 100%;
    }
    .card_col .card_position{
        padding-left: 15px;
    }
    .card_col .card_position p{
        padding-right: 200px;
    }
    .sub-menu {
        width:100%;
        display: none;
        padding:5px 0px;
        position:static;
        top:100%;
        left:0px;
        z-index:-1;
        transition:opacity linear 0.15s;
        box-shadow:0px 2px 3px rgba(0,0,0,0.2);
        background:#fff;
    }
    .menu_list{
        display: block;
    }
    .contact_addrs{
        margin-bottom: 30px;
    }
    .contact_form input {
        width: 100%;
    }
    .contact_form textarea {
        width: 100%;
    }

    .contact_form button {
        margin-left: 0px;
    }
    a .pro_box{
        margin-bottom: 20px;
    }
}
@media only screen and (max-width: 480px){
    .card_col .card_position{
        padding-top: 10px;
    }
    .card_col .card_img{
        top: 140px;
    }
    .col_2 .card_row{
        height: 345px;
    }
    .card_col .card_position p{
        padding-right: 0;
    }
    .card_col_left .card_img{
        top: 185px;
    }
    .card_col_right .card_position p{
        padding-right: 0;
    }
    .card_col_right .card_img{
        top: 145px;
    }
    .col_3 .card_row .card_col_left{
        margin-top: 405px;
    }
    footer{
        margin-top: 865px;
    }
    .col_3 .card_row .card_col_left{
        height: 425px;
    }
    .col_3 .card_col_left .card_position{
        padding-left: 20px;
    }
    .col_3 .card_col_left .card_img{
        top: 185px;
    }
    .foot_logo img{
        max-width: 100%;
    }
    .logo img{
        float:left; 
    }
    .logo{
        margin-left: 10px;
    }
    .nav_trigger{
        right: 0;
        top: 100px;
    }
    .welcome p{
        padding: 0px 5px;
    }
    .about_wrap p{
        padding: 0px 5px;
    }
}